/* Applies across all pages */
* {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: black;
    --main-text-color: white;
    --main-button-border-color: white;
    --main-button-text-color: white;
    --main-button-bg-color: black;
    --hover-button-bg-color: white;
    --hover-button-text-color: black;
    --default-underline-color: transparent;
    --hover-underline-color: #a4adb5;
    --box-shadow-color: #212f44;
    --navbar-border-bottom-color: #f5031900;
    --navbar-media-border-bottom-color: transparent;
    --navbar-hover-border-bottom-color: #a4adb5;
    --comment-border-bottom-color: ##464646;
    --muted-text-color: #a8a8a8;
    --muted-button-text-color: #a8a8a8;
    --muted-button-outline-color: #a8a8a8;
    --comment-form-border-bottom-color: #464646;
    --placeholder-text-color: #cacaca;
    --map-text-color: black;
}

html {
    background-color: var(--main-bg-color);
}

h1 {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

h2 p {
    font-family: 'Yrsa', serif;
}

/* Welcome page */
.welcome-wrapper {
    background-image: url(images/hero.jpg);
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    vertical-align: middle;
}

.welcome-img-text-wrapper {
    color: var(--main-text-color);
    height: auto;
    margin-top: 250px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.welcome-text h1 {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 9vw;
    text-align: center;
}

.welcome-text h2 {
    text-align: center;
    font-size: 2.5vw;
    font-weight: 100;
    padding-bottom: 2.5vw;
}

.welcome-img-text-wrapper a {
    font-size: 2.5vw;
    margin-top: 20px;
}

.welcome-button {
    border: 5.5px solid var(--main-button-border-color);
    color: var(--main-button-text-color);
    display: inline-block;
    font-size: 2vw;
    font-weight: bolder;
    outline: none;
    padding: 1vw;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    width: 15vw;
}

.welcome-button:hover, .welcome-button:active {
    background-color: var(--hover-button-bg-color);
    border: 5.5px solid var(--main-button-border-color);
    color: #8b665d;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.welcome-button:active {
    transform: translateY(2px);
}

/* Navigation bar */

.navbar {
    color:var(--main-text-color);
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.left-side {
    display: flex;
    justify-content: flex-start;
}

.right-side {
    display: flex;
}
.navbar > .right-side > div {
    margin-right: 20px;
    font-size: 1.5em;
}

.navbar > .left-side > div {
    margin-left: 20px;
    font-size: 1.5em;
}

.navbar-link {
    height: 1 vh;
    border-bottom: 1.5px solid var(--navbar-border-bottom-color);
    transition: border-bottom 0.5s; 
    
}   

.navbar-link a {
    color:var(--main-text-color);
    text-decoration: none;
    transition: color 0.5s;    
}

.home-link {
    border-bottom: 1.5px solid var(--navbar-media-border-bottom-color);
    height: 1vh;
    transition: border-bottom 0.5s;
}

.home-link a {
    color: var(--main-text-color);
    text-decoration: none;
} 
.navbar-link:hover {
    border-bottom: 1px solid var(--navbar-hover-border-bottom-color);
}

/* WHO Page */

.profile-wrapper > h1 {
    color: var(--main-text-color);
    font-size: 100px;
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    padding: 30px;
}

.two-column {
    align-items: center;
    column-gap: 100px;
    display: grid;
    grid-template-columns: 600px 700px;
    justify-content: center;
    padding-top: 50px;
}

.profile-image img {
    box-shadow: 25px 25px 0 var(--box-shadow-color);
    max-height: 600px;
    width: auto;
}

.profile-content {
    color: var(--main-text-color);
}
.profile-content h1 {
    font-size: 100px;
}

.profile-content p {
    font-size: 22px;
}

/*GALLERY page */

.gal-cover-container {
    height: auto;
    text-align: center;
    position: absolute;
    width: 100%;
}

.gal-cover-container > h1 {
    color: var(--main-text-color);
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 100px;
    text-align: center;
    padding: 30px;
}

.gal-cover-container h2 {
    color: var(--main-text-color);
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    min-width: 50vw;
    max-width: 75vw;
    margin: 0 auto;
    margin-top: -17px;
    text-align: center;
    padding-bottom: 30px;
}

#random-image-caption {
    color: var(--main-text-color);
    margin-top: 50px;
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
}

.button {
    background-color: var(--main-button-bg-color);
    border: 3px solid var(--main-button-border-color);
    color: var(--main-button-text-color);
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
    outline: none;
    padding: 14px;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    width: 250px;
}

.button:hover, .button:active {
    background-color: var(--hover-button-bg-color);
    color: var(--hover-button-text-color);
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    border: 3px solid var(--main-button-border-color);
}

.button:active {
    transform: translateY(2px);
}

#random-image-container img {
    padding: 14px;
    height: 900px;
    width: auto;
}

/* PROJECTS page */

#project-img-1 {
    background-image: url(images/project1.jpg);
}

#project-img-2 {
    background-image: url(images/project2.jpg);
}

.project-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-item-wrapper {
    position: relative;
}

.project-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
}

.project-img-text-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 9vw;
    padding-right: 9vw;
    position: absolute;
    text-align: center;
    top: 0;
}

.project-logo-wrapper img {
    height: 110px;
    margin-bottom: 20px;
    width: 95%;
}

.project-img-text-wrapper .project-subtitle {
    font-size: 17px;
    font-weight:1 lighter;
    transition: 1s;
    color: transparent;
}

.project-img-text-wrapper:hover .project-subtitle {
    color: var(--main-text-color);
    font-size: 17px;
    font-weight:1 lighter;
}

.project-img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.project-content-wrapper h1 {
    color: var(--main-text-color);
    font-family: 'Crimson Text', serif;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    padding: 30px;
}

/* COMMMENTS page */

.comment-wrapper {
    color: var(--main-text-color);
    font-family: 'Crimson Text', serif;
    text-align: center;
}

.comment-wrapper h1 {
    text-align: center;
    color: var(--main-text-color);
    font-weight: 600;;
    font-size: 100px;
    padding: 30px;
}

.comment-wrapper > h2:nth-of-type(1) {
    color: var(--main-text-color);
    font-size: 30px;
    font-style: italic;
    font-weight:100;
    min-width: 50vw;
    max-width: 75vw;
    margin: 0 auto;
    margin-top: -17px;
    text-align: center;
}

.comment-wrapper ul {
    list-style-type: none;
}

.comment-wrapper h4 {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 18px;
}

.comment-wrapper p {
    color: var(--main-text-color);
    font-size: 18px;
}

.comment {
    border-bottom: 1px solid var(--comment-form-border-bottom-color);
    line-height: 25px;
    margin: 10px;
    text-align: left;
    padding: 10px;
    width: 450px;
}

.comment span {
    display: flex;
    justify-content: space-between;
}

.comment span > span > p:before {
    content: " ";
    display: inline-block;
    width: 6px;
}


.user-comments-display {
    align-items: start;
    column-gap: 50px;
    display: grid;
    grid-template-columns: 500px 400px;
    justify-content: center;
    padding-top: 50px;
}

#history h4, p:nth-of-type(1) {
    display: inline;
}

#history span > p:nth-of-type(1) {
    color: var(--muted-text-color);
}


#history button {
    background-color: var(--main-button-bg-color);
    border: 2px solid var(--muted-button-outline-color);
    color: var(--muted-button-text-color);
    height: 25px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    width: 90px;
}

#history button:hover, #history button:active {
    background-color: var(--hover-button-bg-color);
    border: 2px solid var(--main-button-border-color);
    color: var(--hover-button-text-color);
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

#history button:active {
    transform: translateY(2px);
}

/* Continued in Comments page: Comment form area  */

#namebox, #address, #textbox {
    border: none;
    background: none;
    border-bottom: 2px solid var(--comment-form-border-bottom-color);
    color: var(--main-text-color);
    font-size: 22px;
    font-family: 'Crimson Text', serif;
    left: 0;
    outline: none;
    padding: 0.3rem 0.7rem;
    padding-left: 20px;
    padding-top: 7px;
    position: relative;
    resize: none;
    transition: border-bottom 0.5s ease-out 0.2s;
    width: 400px;
}

#namebox:focus, #address:focus, #textbox:focus {
    border-bottom: 2px solid var(--main-text-color);
    transition: border-bottom 0.5s;
}

#namebox, #address {
    height: 28px;
}

#textbox {
    height: 110px;
}

::placeholder {
    color: var(--placeholder-text-color);
}

#submit {
    background-color: var(--main-button-bg-color);
    border: 2px solid var(--main-button-border-color);
    color: var(--main-button-text-color);
    height: 42px;
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    font-weight: bold;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    width: 400px;
}

#submit:hover, #submit:active {
    background-color: var(--hover-button-bg-color);
    border: 2px solid var(--main-button-border-color);
    color: var(--hover-button-text-color);
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

#submit:active {
    transform: translateY(2px);
}

.login-wrapper p, a {
    display: inline;
    word-wrap: break-word;
}

#login-link {
    border-bottom: 1.5px solid var(--default-underline-color);
    color: var(--main-text-color);
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: border-bottom 0.5s;
}

#login-link:hover {
    border-bottom: 1px solid var(--navbar-hover-border-bottom-color);
    transition: border-bottom 0.5s;
}

#map {
    color: var(--map-text-color);
    display: block;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.form-select-wrapper {
    text-align: left;
    padding-left: 20px;
}

.content-marker {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}
.content-marker h2, .content-marker p {
    color: var(--map-text-color);
}

.content-marker h2 {
    font-size: 20px;
}

